<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConString" connectionString="Provider=SQLOLEDB;Data Source=SERVER;Initial Catalog=DbQueueManage;User id=sa;Password=s#Ys@i5Had;"  providerName="System.Data.OleDb.OleDbConnection"/>
	</connectionStrings>
	<appSettings>

		<add key="ApStImagePath" value="E:\\vbn" />
		<add key="ApStFooterText" value="Thank You Visit Again edit" />
		<add key="DefaultImg" value="1595509279VM9tq9Ns.png" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
